<html lang="en">
<% #head.html %>
<body>
<% #header.html %>
<div class="MainContent SimpleFont">
    <!--    <img src="chat.svg" class="HomeHeaderSvg"/>-->
    <div>
        <h2>Добро пожаловать на главную страницу JustChat</h2>
        <div>Это простой чат, реализованный на Spring Boot</div>
        <h2>В данной онлайн-чате вы можете:</h2>
        <ul>
            <li>Создать аккаунт</li>
            <li>Отправлять текстовые сообщения</li>
            <li>Прикреплять файлы и скачивать их</li>
        </ul>
        <h2>Приятных переписок!</h2>
    </div>
</div>
</body>
</html>
